section.pb-6#about
    .container
        h1.display-5.mb-6 About us
        .row.g-6.mb-6
            .col-12.col-lg-3.mb-4.mb-lg-0.text-center
                img.img-fluid(src=site+'/img/brand/logo-vertical.png' alt='')
            .col-12.col-lg-9
                p.fs-4
                    | C2C is the most important three-day event in the CEE region where TV industry professionals gather to learn about the newest business trends and share their most precious formulas for success.
                p.fs-4
                    | C2C is annually held in Belgrad, Serbia and is addressed to FTAs, Pay-TV channels, cable and satellite operators, IPTV, production, distribution and technology companies, media and marketing agencies, and other specialists connected with the TV industry. C2C Belgrade focuses on the CEE region, but the event&rsquo;s attendees come from all over the world.
                p.fs-4
                    | Network with representatives from 700 companies in our eight editions, C2C Belgrade stands out as an important platform for media and telecommunications professionals.

        h1.display-5.mb-6 Meet the team
        .row.row-cols-1.row-cols-lg-5.g-4.text-center
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4.rounded-circle(src=site+'/img/team/1.jpg' alt='')
                h4.px-3.text-uppercase Predrag Mandlbaum
                p.mb-0.fw-light Consumer ATL Expert at Telenor 
                p.mb-0.fw-light @morescreens
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4.rounded-circle(src=site+'/img/team/2.jpg' alt='')
                h4.px-3.text-uppercase Bane Antovi&cacute;
                p.mb-0.fw-light Consumer ATL Expert at Telenor 
                p.mb-0.fw-light @muzzik
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4.rounded-circle(src=site+'/img/team/3.jpg' alt='')
                h4.px-3.text-uppercase Predrag Mandlbaum
                p.mb-0.fw-light Consumer ATL Expert at Telenor 
                p.mb-0.fw-light @morescreens
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4.rounded-circle(src=site+'/img/team/3.jpg' alt='')
                h4.px-3.text-uppercase Bane Antovi&cacute;
                p.mb-0.fw-light Consumer ATL Expert at Telenor 
                p.mb-0.fw-light @muzzik
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4.rounded-circle(src=site+'/img/team/3.jpg' alt='')
                h4.px-3.text-uppercase Predrag Mandlbaum
                p.mb-0.fw-light Consumer ATL Expert at Telenor 
                p.mb-0.fw-light @morescreens
