section.py-1.bg-primary.overflow-hidden#banner
    .d-flex.align-items-center.flex-nowrap.text-nowrap
        img.me-1(src=site+'/img/brand/logo-green.gif' height='50')
        p.mb-0.me-1.fw-bold Content 2 Consumer
        img.me-1(src=site+'/img/brand/eye-green.gif' height='50')
        p.mb-0.me-1.fw-bold 2021
        img.me-1(src=site+'/img/brand/logo-green.gif' height='50')
        p.mb-0.me-1.fw-bold Content 2 Consumer
        img.me-1(src=site+'/img/brand/logo-green.gif' height='50')
        p.mb-0.me-1.fw-bold #c2c
        img.me-1(src=site+'/img/brand/eye-green.gif' height='50')
        p.mb-0.me-1.fw-bold 2021
        p.mb-0.me-1.fw-bold Content 2 Consumer
        img.me-1(src=site+'/img/brand/logo-green.gif' height='50')
        p.mb-0.me-1.fw-bold Content 2 Consumer
        img.me-1(src=site+'/img/brand/eye-green.gif' height='50')
        p.mb-0.me-1.fw-bold 2021
        img.me-1(src=site+'/img/brand/logo-green.gif' height='50')
        p.mb-0.me-1.fw-bold Content 2 Consumer
        img.me-1(src=site+'/img/brand/logo-green.gif' height='50')
        p.mb-0.me-1.fw-bold #c2c
        img.me-1(src=site+'/img/brand/eye-green.gif' height='50')
        p.mb-0.me-1.fw-bold 2021
        img.me-1(src=site+'/img/brand/logo-green.gif' height='50')
        p.mb-0.me-1.fw-bold Content 2 Consumer
        img.me-1(src=site+'/img/brand/logo-green.gif' height='50')
        p.mb-0.me-1.fw-bold #c2c
        img.me-1(src=site+'/img/brand/eye-green.gif' height='50')
        p.mb-0.me-1.fw-bold 2021
        p.mb-0.me-1.fw-bold Content 2 Consumer
        img.me-1(src=site+'/img/brand/logo-green.gif' height='50')
        p.mb-0.me-1.fw-bold Content 2 Consumer
        img.me-1(src=site+'/img/brand/eye-green.gif' height='50')
        p.mb-0.me-1.fw-bold 2021
        img.me-1(src=site+'/img/brand/logo-green.gif' height='50')
        p.mb-0.me-1.fw-bold Content 2 Consumer
        img.me-1(src=site+'/img/brand/logo-green.gif' height='50')
