section.pb-6#partners
    .container
        h1.display-5.mb-6 Partners
        .row.row-cols-1.row-cols-lg-5.g-4.text-center
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4(src=site+'/img/sponsor/1.jpg' alt='')
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4(src=site+'/img/sponsor/2.jpg' alt='')
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4(src=site+'/img/sponsor/3.jpg' alt='')
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4(src=site+'/img/sponsor/3.jpg' alt='')
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4(src=site+'/img/sponsor/3.jpg' alt='')
        .row.row-cols-1.row-cols-lg-5.g-4.text-center
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4(src=site+'/img/sponsor/3.jpg' alt='')
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4(src=site+'/img/sponsor/3.jpg' alt='')
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4(src=site+'/img/sponsor/3.jpg' alt='')
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4(src=site+'/img/sponsor/3.jpg' alt='')
            .col.mb-4.mb-lg-0
                img.img-fluid.mb-4(src=site+'/img/sponsor/3.jpg' alt='')
