section.pb-6.position-relative#speakers
    .position-absolute.w-100.h-100.d-flex.align-items-center.justify-content-center
        .parallax#parallax.position-absolute.text-center
            .layer(data-depth='0.2')
                img.img-fluid(src=site+'/img/speaker/shape/1.png')
    .container.position-relative
        h1.display-5.mb-6 Speakers
        .slider-full
            .slider(data-icon-left=site+'/img/shape/chevron-left.svg' data-icon-right=site+'/img/shape/chevron-right.svg')
                .slider-item
                    .speaker.mb-5.active(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-1.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-2.html') Gordana Radojevi&cacute;
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light PA to Managing Directors
                        p.mb-0.fw-light @mih_jar
                    .speaker(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-1.html') Bojan Suboti&cacute;
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Director, Information Services at Vancouver Fraser Port
                        p.mb-0.fw-light @mih_jar
                .slider-item
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-2.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-1.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-2.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                .slider-item
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-1.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-2.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-1.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                .slider-item
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-2.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-1.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-2.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                .slider-item
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-2.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-1.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-2.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                .slider-item
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-1.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-2.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-1.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                .slider-item
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-2.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-1.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-2.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                .slider-item
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-1.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker.mb-5(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-2.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
                    .speaker(data-image=site+'/img/speaker/shape/1.png')
                        .d-flex.align-items-center.mb-3
                            h4.mb-0.text-uppercase
                                a(href=site+'/speaker/speaker-1.html') Mihajlo Jaric 
                            img.arrow(src=site+'/img/shape/arrow.svg' alt='')
                        p.mb-0.fw-light Consumer ATL Expert at Telenor
                        p.mb-0.fw-light @mih_jar
